#root {
  width: 100%;
  height: 100%;
}

:root {
  --theme-background: #222222;
  --theme-main: #eb2156;
  --theme-secondary: #f2f2f2;
  --theme-text: #e4e4e4;
  --theme-hover-text: #cf0d41;
  --theme-secondary-text: rgba(255,255,255, .1);
}
